spring:
  application:
    name: taluo-real-helper
  profiles:
    active: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver  # 注意：新版本是 com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.88.128:3306/taluo?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123
server:
  port: 8081
  servlet:
    context-path: /api
mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.taluo.taluorealhelper.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
langchain4j:
  community:
    dashscope:
      chat-model:
        model-name: qwen-max
        api-key:
      embedding-model:
        model-name: text-embedding-v4
        api-key:
      streaming-chat-model:
        model-name: qwen-max
        api-key:
bigmodel:
  api-key: 
